/*paleta de colores*/
:root{
    --I-color:#1a1d29;
    --II-color:#3d3f4a;
    --III-color:#687f8b;
    --IV-color:#7d8491;
    --V-color:#b1b2b5;

    --VI-color:#a8afbe;
    --VII-color:#d3d6de;
    --VIII-color:#f0f1f3;
}

html{
    scroll-behavior: smooth;
}

/*! Navbar*/

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--I-color);
    padding: 15px;
    color: var(--VIII-color);
}

.navbar a{
    text-decoration: none;
    color: var(--VIII-color);
}

.name{
    margin-right: 50px;
}

.list, .social-media{
    list-style: none;
    display: flex;
    gap: 25px;
}

.social-media{
    margin-left: 50px;
}

#menu, .navbar label{
    display: none;
    color: var(--VIII-color);
}

@media screen and
(max-width: 600px){
    .options{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .social-media{
        margin: 0;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #menu:checked ~ .options{
        max-height: 100%;
    }
}

/*TODO: Main*/

#main-container{
    background-color: var(--I-color);
    min-height: 100dvh;
    color: var(--VIII-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#presentation{
    background-color: var(--I-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

#description{
    background-color: var(--I-color);
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#title{
    margin-right: auto;
    background-color: var(--III-color);
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 15px;
}

#description p{
    font-size: large;
}

#carrer{
    color: var(--III-color);
}

#photoPresentation{
    filter: drop-shadow(0 0 100px rgba(255, 255, 255, 0.8));
}

#myPhoto{
        mask-image: linear-gradient(
        rgb(255, 255, 255) 50%,
        transparent
    );
}

#presentation{
    background-color: var(--I-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

#description{
    background-color: var(--I-color);
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.aboutMe-skills{
    background-color: var(--I-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
}

.skills-container, .about-me{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 100px;
    justify-content: start;
    align-items: start;
    text-align: justify;
    background-color: var(--I-color);
}



#lenguajes{
    justify-content: start;
    margin-top: 20px;
}

.progress{
    width: 300px;
}

#text-about-me {
    font-size:medium;
}

#cv-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    background-color: var(--I-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

@media screen and
(max-width: 1100px){
    #presentation, .aboutMe-skills{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #description, .skills-container, .about-me{
        margin-top: 50px;
        width: 90%;
    }
    #cv-container{
        justify-content: center;
    }
}

.projects-container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#projects{
    background-color: var(--I-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
}


footer{
  background-color: var(--VIII-color);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}

#footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#footer-container h2{
    margin-bottom: 20px;
}

#contact-container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
}

#mail, #phone, #linkedin, #github{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#mail img, #phone img, #linkedin img, #github img{
    margin-right: 10px;
}

.projects-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.card-project{
    margin-right: 15px;
}

.image-project img { 
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.image-project img:hover { 
        transform: scale(1.1);
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
        filter: grayscale();
}