/*paleta de colores*/
:root{
    --I-color:#21242b;
    --II-color:#2c3039;
    --III-color:#3e434f;
    --IV-color:#5e6575;
    --V-color:#80899e;
    --VI-color:#a8afbe;
    --VII-color:#d3d6de;
    --VIII-color:#f0f1f3;
}

body{
    background-color: var(--I-color);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 1fr auto;
}

#main-container{
    background-color: var(--I-color);
    display: grid;
    place-items: center;
    color: var(--VIII-color);
}

#photoPresentation{
    background-color: var(--II-color);
    color: var(--VIII-color);
    display: grid;
    place-items: center;
    width: 90%;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: large;
}

#myPhoto{
    mask-image: linear-gradient(
        black 80%,
        transparent
    );
    margin: 20px;
}

#presentation-container{
    padding: 40px;
}

#cv-skills{
    margin: 10px;
    padding: 0px;
    display: flex;
    text-align: start;
    background-color: var(--I-color);
    width: 100%;
    height: auto;
}

#cv-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: end;
    margin: 0;
    background-color: var(--I-color);
    width: 50%;
    height: 350px;
    margin-right: auto;
    color: var(--VIII-color);
    margin: 20px;
    padding: 20px;
}

#cv iframe{
    height: 200px;
}

#cv-card{
    background-color: var(--VI-color);
}

#skills-container{
    flex-direction: start;
    background-color: var(--I-color);
    margin-top: auto;
    justify-content: space-around;
    margin: 20px;
    width: 50%;
    height: 350px;
    margin-left: auto;
    padding: 20px;
}

#lenguajes{
    justify-content: start;
    margin-top: 20px;
}

.progress{
    width: 200px;
}

footer{
  background-color: var(--VIII-color);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}

#footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#footer-container h2{
    margin-bottom: 20px;
}

#contact-container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
}

#mail, #phone, #linkedin, #github{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#mail img, #phone img, #linkedin img, #github img{
    margin-right: 10px;
}

.projects-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.card-project{
    margin-right: 15px;
}

.image-project img { 
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.image-project img:hover { 
        transform: scale(1.1);
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
        filter: grayscale();
}