/*paleta de colores*/
:root{
    --I-color:#1a1d29;
    --II-color:#2f364b;
    --III-color:#343d58;
    --IV-color:#3c4668;
    --V-color:#495780;
    --VI-color:#5d6f9a;
    --VII-color:#7d8cb3;
    --VIII-color:#abb5ce;
    --IX-color:#d2d6e5;
    --X-color:#ebedf3;
    --XI-color:#f5f6fa;
}

@font-face {
    font-family: 'ibm-plex-mono-bold';
    src: url(../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

@font-face {
    font-family: 'ibm-plex-mono-italic';
    src: url(../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf);
}

@font-face {
    font-family: 'ibm-plex-mono-light';
    src: url(../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf);
}

@font-face {
    font-family: 'ibm-plex-mono';
    src: url(../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}


html{
    scroll-behavior: smooth;
}

/*! Navbar*/

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--I-color);
    padding: 15px;
    color: var(--VIII-color);
}

.navbar a{
    text-decoration: none;
    color: var(--VIII-color);
}

.name{
    margin-right: 50px;
}

.list, .social-media{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-media{
    margin-left: 50px;
}

.social-media li, .social-media a{
    display: flex;
    align-items: center;
    color: var(--VIII-color);
}

#menu, .navbar label{
    display: none;
    color: var(--VIII-color);
}

@media screen and
(max-width: 600px){
    .options{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .social-media{
        margin: 0;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #menu:checked ~ .options{
        max-height: 100%;
    }
}

/*TODO: Main*/

#main-container{
    background-color: var(--I-color);
    min-height: 100dvh;
    color: var(--IX-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#presentation{
    background-color: var(--I-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

#description{
    background-color: var(--I-color);
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

#description p{
    text-align: justify;
    font-family: monospace;
}

#title{
    margin-right: auto;
    font-size: small;
    background-color: var(--VI-color);
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 0;
}

.text-wrap{
    margin-top: 15px;
}

#title p{
    display: flex;
    margin-top: 15px;
    font-size: 15px !important;
    font-weight: bolder;
}

#description p{
    font-size: large;
}

#carrer{
    color: var(--VI-color);
}

#photoPresentation{
    filter: drop-shadow(0 0 100px rgba(255, 255, 255, 0.8));
}

#myPhoto{
        mask-image: linear-gradient(
        rgb(255, 255, 255) 50%,
        transparent
    );
}

#presentation{
    background-color: var(--I-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

#description{
    background-color: var(--I-color);
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.aboutMe-cv{
    background-color: var(--I-color);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    justify-content: space-around !important;
    align-items: start;
    flex-direction: row;
    margin-bottom: 100px;
}

.about-me{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 100px;
    justify-content: start;
    align-items: start;
    text-align: justify;
    background-color: var(--I-color);
}

.about-me h1{
    font-family: 'ibm-plex-mono';
}

#cv-container{
    display: flex;
    background-color: var(--I-color);
    flex-direction: column;
    width: 40%;
    align-items: center;
    margin: 100px 0 0 0;
}

.card{
    background-color: var(--VIII-color);
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#skills{
    background-color: var(--I-color);
    width: 90%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(100px, 1fr));
    gap: 20px;
}

.skill-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--I-color);
}

.bg-skill{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 120px;
    min-height: 150px;
    border-radius: 20px;
    background-color: var(--II-color);
}

.bg-skill i{
    color: var(--VIII-color);
    font-size: 50px;
}

.name-skill{
    color: var(--VI-color);
    font-weight: bold;
    font-size: medium;
}

#lenguajes{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 20px 0 100px 0;
}

#lenguajes h2{
    text-align: center;
}

#ingles{
    margin-top: 15px;
}

.progress{
    width: 300px;
}

.btns{
    width: 200px;
    background-color: var(--I-color);
}

.bg-secondary, .btn-more-info{
    background-color: var(--VI-color) !important;
    color: var(--X-color);
}

.btn-more-info:hover, .btn-more-info:hover{
    background-color: var(--X-color) !important;
    color: var(--VII-color) !important;
    transition: all 0.5s;
}

#text-about-me {
    font-family: 'ibm-plex-mono-light';
    font-size: medium;
}

#text-header-aboutMe{
    font-family: 'ibm-plex-mono-italic';
    font-size: large;
}

.projects-container{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#projects{
    background-color: var(--I-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
}

.card-project{
    margin-right: 15px;
}

.image-project img { 
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.image-project img:hover { 
        transform: scale(1.1);
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
        filter: grayscale();
}

.badge{
    background-color: var(--IV-color);
}

@media screen and
(max-width: 1100px){
    #presentation, .aboutMe-cv{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #description, #cv-container, .about-me{
        margin-top: 50px;
        width: 90%;
    }
    #cv-container{
        justify-content: center;
    }
    .bg-skill{
        min-width: 50px;
        gap: 10px;
    }
    .bg-skill i{
        font-size: 30px;
    }
}

footer{
    background-color: var(--IX-color);
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#footer-container{
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#footer-container h2{
    margin: 20px;
}

#contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

#email-phone{
    display: flex;
    flex-direction: column;
}

#mail, #phone, #github, #linkedin{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

#github, #linkedin{
    text-decoration: none;
    color: var(--VI-color);
}

#mail, #phone{
    text-decoration: none;
    color: var(--IV-color);
}

#github-linkedin{
    display: flex;
    flex-direction: column;
}
