<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Portafolio</title>
</head>
<body>
    <div id="main-container">
        <h2>Proyectos</h2>
        
        <div id="motor-inc">
            <div id="carouselMI" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="7" aria-label="Slide 8"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1000">
                        <img src="../static/assets/img/Motors Inc/1.png" class="d-block w-100" alt="image UI">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Motor-Inc</h5>
                            <p>Un pequeño E-commerce....</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="200">
                        <img src="../static/assets/img/Motors Inc/2.png" class="d-block w-100" alt="image UI">
                    </div>
                    <div class="carousel-item" data-bs-interval="200">
                        <img src="../static/assets/img/Motors Inc/3.png" class="d-block w-100" alt="image UI">
                    </div>
                    <div class="carousel-item" data-bs-interval="200">
                        <img src="../static/assets/img/Motors Inc/4.png" class="d-block w-100" alt="image UI">
                    </div>
                    <div class="carousel-item" data-bs-interval="200">
                        <img src="../static/assets/img/Motors Inc/5.png" class="d-block w-100" alt="image UI">
                    </div>
                    <div class="carousel-item" data-bs-interval="200">
                        <img src="../static/assets/img/Motors Inc/6.png" class="d-block w-100" alt="image UI">
                    </div>
                    <div class="carousel-item" data-bs-interval="200">
                        <img src="../static/assets/img/Motors Inc/7.png" class="d-block w-100" alt="image UI">
                    </div>
                    <div class="carousel-item" data-bs-interval="200">
                        <img src="../static/assets/img/Motors Inc/8.png" class="d-block w-100" alt="image UI">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMI" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMI" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>

    </div>
    
    <footer class="pt-5 pb-4">
        <div id="footer-container">
            <h2>Contacto</h2>
            <div id="contact-container" class="footer">
                <div id="email-phone">
                    <div id="mail">
                        <img src="../static/assets/icons/mail.svg" alt="icon mail" height="20">
                        <p>Email: cl154204@gmail.com</p>
                    </div>
                    <div id="phone">
                        <img src="../static/assets/icons/phone.svg" alt="icon phone" height="20">
                        <p>Telefono: +52 664 479 6129</p>
                    </div>
                </div>
                <di id="github-linkedin">
                    <a id="github" href="https://github.com/Elcarlos2925">
                        <img src="../static/assets/icons/github.svg" alt="icon github" height="25">
                        <p>GitHub</p>
                    </a>
                    <a href="https://www.linkedin.com/in/carlos-lozoya-855b511a9" id="linkedin">
                        <img src="../static/assets/icons/linkedin.svg" alt="icon linkedin" height="25">
                        <p>Linkedin</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="../static/js/bootstrap.bundle.min.js"></script>