<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <script src="https://kit.fontawesome.com/f5540aaeca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
     <link rel="stylesheet" href="../static/css/project.css">
    <title>Portafolio</title>
</head>
<body>
    <nav class="navbar" id="navbar"></nav>
    <div id="main-container">
        <h2 id="title-project">Motors-Inc.</h2>
        <p id="description-proyect">
            Tengo 21 años de edad y deseo impulsar mis conocimientos 
            al área profesional para ganar experiencia y a su vez 
            implementar mis conocimientos en el mundo laboral.
            Tengo 21 años de edad y deseo impulsar mis conocimientos 
            al área profesional para ganar experiencia y a su vez 
            implementar mis conocimientos en el mundo laboral.
            Tengo 21 años de edad y deseo impulsar mis conocimientos 
            al área profesional para ganar experiencia y a su vez 
            implementar mis conocimientos en el mundo laboral.
            Tengo 21 años de edad y deseo impulsar mis conocimientos 
            al área profesional para ganar experiencia y a su vez 
            implementar mis conocimientos en el mundo laboral.
            Tengo 21 años de edad y deseo impulsar mis conocimientos 
            al área profesional para ganar experiencia y a su vez 
            implementar mis conocimientos en el mundo laboral.
            Tengo 21 años de edad y deseo impulsar mis conocimientos 
            al área profesional para ganar experiencia y a su vez 
            implementar mis conocimientos en el mundo laboral.
        </p>

        <h2>Tecnologías Utilizadas</h2>
        <section id="skills">
            <article class="skill-container">
                <div class="bg-skill">
                    <span><i class="fa-brands fa-html5"></i></span>
                </div>
                <p class="name-skill">HTML</p>
            </article>
            <article class="skill-container">
                <div class="bg-skill">
                    <span><i class="fa-brands fa-css3-alt"></i></span>
                </div>
                <p class="name-skill">CSS</p>
            </article>
            <article class="skill-container">
                <div class="bg-skill">
                    <span><i class="fa-brands fa-square-js"></i></span >
                </div>
                <p class="name-skill">JS</p>
            </article>
            <article class="skill-container">
                <div class="bg-skill">
                    <span><i class="fa-brands fa-php"></i></span>
                </div>
                <p class="name-skill">PHP</p>
            </article>
            <article class="skill-container">
                <div class="bg-skill">
                    <span><i class="devicon-mysql-plain-wordmark"></i></span>
                </div>
                <p class="name-skill">MySQL</p>
            </article>
        </section>

        <div id="motor-inc" class="carrusel">
        <div id="carouselMI" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselMI" data-bs-slide-to="7" aria-label="Slide 8"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="../static/assets/img/Motors Inc/1.png" class="d-block w-100" alt="image UI">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Motor-Inc</h5>
                        <p>Un pequeño E-commerce....</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="200">
                    <img src="../static/assets/img/Motors Inc/2.png" class="d-block w-100" alt="image UI">
                </div>
                <div class="carousel-item" data-bs-interval="200">
                    <img src="../static/assets/img/Motors Inc/3.png" class="d-block w-100" alt="image UI">
                </div>
                <div class="carousel-item" data-bs-interval="200">
                    <img src="../static/assets/img/Motors Inc/4.png" class="d-block w-100" alt="image UI">
                </div>
                <div class="carousel-item" data-bs-interval="200">
                    <img src="../static/assets/img/Motors Inc/5.png" class="d-block w-100" alt="image UI">
                </div>
                <div class="carousel-item" data-bs-interval="200">
                    <img src="../static/assets/img/Motors Inc/6.png" class="d-block w-100" alt="image UI">
                </div>
                <div class="carousel-item" data-bs-interval="200">
                    <img src="../static/assets/img/Motors Inc/7.png" class="d-block w-100" alt="image UI">
                </div>
                <div class="carousel-item" data-bs-interval="200">
                    <img src="../static/assets/img/Motors Inc/8.png" class="d-block w-100" alt="image UI">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMI" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMI" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>

    </div>
    
    <footer class="pt-1 pb-1" id="footer"></footer>

    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/footer.js"></script>
</body>
</html>
<script src="../static/js/bootstrap.bundle.min.js"></script>